---
import { storyblokEditable, renderRichText, useStoryblokApi } from '@storyblok/astro';
const { blok } = Astro.props;
const content = renderRichText(blok.text);
---

<article {...storyblokEditable(blok)} class="about__container">
  <h3 class="header__3 about__title">{blok.title}</h3>
  <Fragment set:html={content} />
</article>
