---

---
<form action="">
  <h3 class="header__3 contact__header">Contact Us</h3>
  <p class="contact__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt porro id deserunt nihil ut quae impedit illum necessitatibus maiores animi?</p>
  <label for="first_name"></label>
  <input type="text" name="first_name" id="first_name" class="contact__input">
  <label for="last_name"></label>
  <input type="text" name="last_name" id="last_name" class="contact__input">
  <label for="email"></label>
  <input type="email" name="email" id="email" class="contact__input">
  <button type="submit">Subscribe</button>
</form>