---
---

<footer class="footer__container">
  <picture class="footer__image__container"><img src="" alt="My Eyes My Eyes logo" /></picture>
  <div class="socials__container">
    <p class="socials__text">Connect with us:</p>
    <img class="socials__icon" src="" alt="twitter" />
    <img class="socials__icon" src="" alt="facebook" />
    <img class="socials__icon" src="" alt="instagram" />
    <img class="socials__icon" src="" alt="e-mail" />
  </div>
  <div class="policies__container">
    <p class="polcies__text">
      My Eyes My Eyes! 2023 /n Cookie Policy /n Equal /n Opportunites Policy /n Privacy Policy /n
      Website by Callum Shaw
    </p>
  </div>
</footer>
