---
---

<header class="header__container">
  <h1 class="header__1">MyEyes!MyEyes!</h1>
  <nav class="navbar">
    <menu class="menu">
      <li class="navbar__item">About</li>
      <li class="navbar__item">Shows</li>
      <li class="navbar__item">More</li>
    </menu>
  </nav>
</header>
<style>
  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: var(--med);
  }
  .header__1 {
  }
</style>
