---
---

<section class="hero">
  <picture><img src="" alt="Picture of the current show" /></picture>
  <h3 class="header__3 hero__header"></h3>
  <p class="header__text">
    <strong class="header__text__strong"
      >Lorem ipsum dolor sit amet consectetur, adipisicing elit.</strong
    >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea facere a, vitae asperiores
    deleniti perspiciatis cupiditate consequatur. Fugit dolorem debitis, placeat, totam quod non
    vero nobis praesentium blanditiis consequuntur ab cupiditate dolor sed ratione, corrupti facere
    molestias at ducimus accusantium magnam repellat tenetur iste minima? Veniam sapiente saepe
    facilis aliquam.
  </p>
</section>
