---
---

<article class="screening__container">
  <picture class="screening__image"><img src="" alt="pictures of the show" /></picture>
  <p>Jim Hosking:</p>
  <p>Old Kings Head, SE1. 00.00.19</p>
</article>
