---
---

<article class="things__container">
  <picture class="things__image"><img src="" alt="Picture of item" /></picture>
  <p class="things__pick">Clive's pick:</p>
  <p class="things__detail">Claire Cronin</p>
  <p class="things__detail">'Blue Light of the Screen'</p>
  <p class="things__extra">Repeater Books, 2020</p>
  <a href="" class="things__link">link</a>
  <p class="things__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ut laborum eveniet voluptas
    totam nostrum autem repudiandae placeat itaque dignissimos.
  </p>
</article>
