---
import { useStoryblokApi } from '@storyblok/astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../storyblok/Hero.astro';
import ScreeningCard from '../storyblok/ScreeningCard.astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import ContactForm from '../storyblok/ContactForm.astro';
import ThingsCard from '../storyblok/ThingsCard.astro';

const sbApi = useStoryblokApi();
const { data } = await sbApi.get('cdn/stories/home', {
  version: 'draft',
});

const story = data.story;
---

<BaseLayout>
  <Hero />
  <div class="section__2">
    <StoryblokComponent blok={story.content} />
    <ContactForm />
  </div>
  <div class="section__container">
    <h2 class="header__2">Previous Screenings:</h2>
    <div class="cards__container">
      <ScreeningCard />
      <ScreeningCard />
      <ScreeningCard />
    </div>
  </div>
  <div class="section__container">
    <h2>Things we're loving:</h2>
    <div class="cards__container"></div>
    <ThingsCard />
    <ThingsCard />
  </div>
</BaseLayout>
