---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../storyblok/Hero.astro';
import ScreeningCard from '../storyblok/ScreeningCard.astro';
import About from '../storyblok/About.astro';
import ContactForm from '../storyblok/ContactForm.astro';
import ThingsCard from '../storyblok/ThingsCard.astro';
---

<BaseLayout>
  <Hero />
  <div class="section__2">
    <About />
    <ContactForm />
  </div>
  <div class="section__container">
    <h2 class="header__2">Previous Screenings:</h2>
    <div class="cards__container">
      <ScreeningCard />
      <ScreeningCard />
      <ScreeningCard />
    </div>
  </div>
  <div class="section__container">
    <h2>Things we're loving:</h2>
    <div class="cards__container"></div>
    <ThingsCard />
    <ThingsCard />
  </div>
</BaseLayout>
